@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.ulta{
    filter: invert(1);
}
.enabled-date{
    color: white;
    transition: 0.3s;

}
.datepicker-table td{
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}
.datepicker-table th{
    color: #ffffff;
}


.datepicker-table{
    background: #000;
    color: #474646;
    animation:calenderAnimation 0.5s;
}

@keyframes calenderAnimation {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}





.enabled-date:hover{
   background: #6dc234;
}
.checkIn{
    transition: 0.5s;
}

.checkIn:focus {
    background: #6dc234;
}
.hide-number-spinners::-webkit-inner-spin-button,
.hide-number-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide-number-spinners {
  -moz-appearance: textfield;
}

.bg-image-1{
    background-image: url(./asset/user.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins";
}
.pop{
    font-family: "Poppins" !important;
}
.otherOptions{
    background-image: url(./asset/room2@2x.jpg);
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 1s;
}
.otherOptions:hover{
    background-size: 110%;
}
.bg-image-2{
    background-image: url(./asset/room2@2x.jpg);
    background-position: center;
    background-size: cover;
}

.anime1{
    animation: img-animation 1s;
    transform-origin: left top;
}

@keyframes img-animation{
    0%{
        transform:scaleY(0) scaleX(0.1);
        
    }
    50%{
        transform: scaleY(1) scaleX(0.1);
    }
    100%{
        transform: scaleY(1) scaleX(1);
    }
}

.last-part h1{
    font-size: 14px;
    font-weight: 500;
}

.last-part p{
    color: #9e9c9c;
}
.anime2{
    animation:anim 5s infinite;

}
@keyframes anim {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    20%{
        transform: translateY(0);
        opacity: 1;
    }
}